<section class="container" ng-controller="issueController" ng-init="init(<%= current_user.pincode %>)">
  <div class="d-flex justify-content-center">

    <div class="d-flex flex-column">
      <div class="form-row">
        <div class="col-md-9">
          <p id = "status"></p>
        </div>
        <div ng-if="!showPermissionRequest" class="col-md-9 mb-3">
          <p ><%= t '.location_request' %>
            <button class="btn btn-primary btn-sm" ng-click="getLocation()"><%= t(:allow) %>  </button></p><br/>
        </div>
        <div class="col-md-9 mb-3">
          <label ><%= t '.category' %></label>
          <select
              ng-model="selection.category"
              ng-change="onCategoryChange()"
              ng-options="value.id as value.name group by value.group for value in option_categories"
              name="category_id" class="custom-select">
            <option>__</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-9 mb-3">
          <label ><%= t '.sub_category' %></label>
          <select
            ng-model="selection.sub_category" ng-options="value.id as value.name group by value.group for value in sub_categories"
            name="category_sub_id" class="custom-select">
            <option>__</option>
          </select>
        </div>
      </div>

      <form class="needs-validation" novalidate>
        <%= csrf_meta_tag %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="form-row">
          <div class="col-md-9 mb-3">
            <label for="validationTooltip01"><%= t '.issue_name' %></label>
            <input type="text" ng-model="selection.name" class="form-control" id="validationTooltip01" placeholder="<%= t '.issue_name_placeholder' %>" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-9 mb-3">
            <label for="validationTooltip02"><%= t '.issue_desc' %></label>
            <textarea ng-model="selection.description" type="text" class="form-control" id="validationTooltip02" placeholder="<%= t '.issue_desc_placeholder' %>" required></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-9 mb-3">
            <label for="validationTooltip03"><%= t '.address' %></label>
            <input type="text" ng-model="selection.address" class="form-control" name="address" placeholder="<%= t '.address' %>" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-9 mb-3">
            <label for="validationTooltip05"><%= t '.pincode' %></label>
            <input type="text" ng-model="selection.pincode" class="form-control" name="pincode" placeholder="<%= t '.pincode' %>" value="<%= current_user.pincode %>">
          </div>
        </div>
        <div class="form-row">
          <div class="col-9 mb-2">
            <small><%= t '.disclaimer_html' %></small>
          </div>
        </div>
        <button class="btn btn-primary mb-3" type="button" ng-click="createIssue()">
          <div ng-if="loading" class="ng-cloak">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span role="status" aria-hidden="true">Creating Issue...</span>
          </div>
          <span ng-if="!loading" role="status" aria-hidden="true" ng-cloak><%= t '.submit_issue' %></span>
        </button>
      </form>
    </div>

  </div>

</section>
