<section class="container">
  <div class="d-flex justify-content-center">

    <div class="d-flex flex-column mt-1">
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-column">
          My Issue list
        </div>
        <div class="d-flex">
          <a href="create" target="_parent"><button type="button" class="btn btn-sm btn-outline-success"><span>+ Add</span></button></a>
        </div>
      </div>
      <% if @issues.count == 0 %>
        <div class="card border-secondary mb-3 mt-3" style="max-width: 18rem;">
          <div class="card-body text-secondary">
            <p class="card-text">You haven't added any <b>issue</b> yet. <br> Press <a href="create" target="_parent"><button type="button" class="btn btn-sm btn-outline-success"><span>+ Add</span></button></a> to add some.</p>
          </div>
        </div>
      <% end %>

<br>
      <% @issues.each_with_index do |issue, index| %>
        <% unless issue.resolved? %>
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header"><%= index + 1 %>. <%= issue.issue_sub_category.name %> <span class="badge badge-pill badge-secondary"><%= issue.issue_category.name %> </span></div>
            <div class="card-body text-secondary">
              <h5 class="card-title"><%= issue.name %></h5>
              <p class="card-text"><%= issue.description %></p>
            </div>
            <div class="card-footer bg-transparent border-secondary">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        <%else %>
          <div class="card border-success mb-3" style="max-width: 18rem;">
            <div class="card-header"><%= index + 1 %>. <%= issue.issue_sub_category.name %> <span class="badge badge-pill badge-secondary"><%= issue.issue_category.name %> </span></div>
            <div class="card-body text-success">
              <h5 class="card-title"><%= issue.name %></h5>
              <p class="card-text"><%= issue.description %></p>
            </div>
            <div class="card-footer bg-transparent border-success">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        <% end %>

      <% end %>
    </div>

  </div>

</section>