<% provide(:user, "Edit user") %>
<section class="pt-5">
  <div class="card bg-light mb-3 card-success">
    <div class="card-header">
      <span><b><%= "Please edit your details" %></b></span>

    </div>
    <div class="card-body">
      <%= form_with(model: @user, method: "post", url: "update-profile", local: true) do |f| %>

        <div class="form-row">
          <label for="username" ><%= t(:name) %> *</label>
          <%= f.text_field :name, value: current_user.name, id: "username", placeholder: t(:name_placehoder) + " *" , required: true, class: "form-control"%>
        </div>
        <div class="form-row mt-2">
          <label for="pincode" ><%= t(:'issues.create.pincode') %> *</label>
          <%= f.text_field :pincode, value: current_user.pincode, maxlength: "6",  class: "form-control", id:"pincode",  placeholder: t(:'issues.create.pincode') + " *",  required: true, pattern: '^[1-9][0-9]{5}$',  title: t('pincode_validation') %>
        </div>
        <div class="form-row mt-2">
          <label for="thana" ><%= t(:'thana') %> *</label>
          <%= f.text_field :thana,  value: current_user.thana, class: "form-control", id: "thana",  placeholder: t(:'thana') + " *", required: true %>
        </div>
        <div class="form-row mt-2">
          <label for="distinct" ><%= t(:'distict') %> *</label>
          <%= f.text_field :district, value:current_user.district, class: "form-control",  id: "thana",  placeholder: t(:'distict') + " *",  required: true %>
        </div>
        <div class="form-row mt-2">
          <button type="submit" class="btn btn-primary mb-2 "><%=t('Update Profile')%></button>
        </div>

      <% end %>
    </div>

  </div>
</section>