<section ng-app="FightWithCoronaApp" ng-controller="loginController" ng-init="init('<%= user_signed_in? %>')">
  <div class="container-fluid">
    <!--    <div layout="row" layout-align="center">-->
    <!--      <b><label class="md-label" style="font-size: 20px">Fight with Corona</label></b>-->
    <!--    </div>-->
    <div layout="row" layout-align="center center">
      <%#= image_tag("india", :alt => "rss feed", size: "48x48") %>
      <picture>
        <%= image_tag("udaipur.png", class: "img-fluid img-thumbnail") %>
      </picture>
    </div>
    <% if user_signed_in? %>
      <div layout="row" layout-align="center center">

      </div>
    <% end %>
    <div class="mt-2" layout="row" layout-align="center center">
      <%#= image_tag("india", :alt => "rss feed", size: "48x48") %>
      <h4><%= t(:corona_stats) %></h4>
    </div>
<!--    <div layout="row" layout-align="center center">-->
<!--      <div layout="column" layout-align="center">-->
<!--        <div layout="row">-->
<!--          <div layout="column" flex="50" layout-align="center center">-->
<!--            <div class="stats total"><h5><%#= t(:confirmed) %></h5>-->
<!--              <div class="stats-bottom"><h1><%#= daily_case.total || 0 %></h1><h6></h6></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div layout="column" flex="50" flex-offset="5" layout-align="center center">-->
<!--            <div class="stats active"><h5><%#= t(:active) %></h5>-->
<!--              <div class="stats-bottom"><h1><%#= daily_case.active || 0 %></h1><h6></h6></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div layout="row">-->
<!--          <div layout="column" flex="50" layout-align="center center">-->
<!--            <div class="stats recover"><h5><%#= t(:recovered) %></h5>-->
<!--              <div class="stats-bottom"><h1><%#= daily_case.recover || 0 %></h1><h6></h6></div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div layout="column" flex="50" flex-offset="5" layout-align="center center">-->
<!--            <div class="stats deceased"><h5><%#= t(:deceased) %></h5>-->
<!--              <div class="stats-bottom"><h1><%#= daily_case.deceased || 0 %></h1><h6></h6></div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <% if user_signed_in? %>
          <div layout="row" layout-align="center">
            <a flex="50" href="issues/list" target="_parent">
              <md-button class="md-raised md-primary"><%= t(:ask_for_help) %></md-button>
            </a>
            <a flex="50" href="issues/want_to_help" target="_parent" >
              <md-button class="md-raised md-primary"><%= t(:want_to_help) %></md-button>
            </a>
          </div>
        <% else %>
          <div layout="row" layout-align="center">
            <span><%= t(:ask_for_login) %></span>
          </div>
          <p id="error"><%= flash[:error] %></p>
          <div layout="column" layout-align="center">
            <% unless @show_otp %>

              <form class="form-inline" method="post" name="loginForm" novalidate action="send_otp" ng-submit="loginform.$valid && formValidate()">
                <%= csrf_meta_tag %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

                <label><%= t(:name) %></label>
                <input type="text" name="name" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="<%= t(:name_placehoder) %>" required>


                <label class="sr-only" for="inlineFormInputGroupUsername2"><%= t(:phone_number) %></label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Mob</div>
                  </div>
                  <input class="form-control" name="phone" maxlength="10" style="height: auto" type="text" placeholder="<%= t(:phone_number) %>" ng-keyup="lengthCount(this, 'phone')" aria-label="Phone Number" required>
                </div>
                <button type="submit" class="btn btn-primary mb-2"><%= t(:sent_otp) %></button>
              </form>

            <% end %>
            <% if @show_otp %>

              <form class="form-inline" method="post" novalidate action="verify_otp" ng-submit="loginform.$valid && formValidate()">
                <%= csrf_meta_tag %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <input type="hidden" name="phone" hidden value="<%= @phone %>">
                <input type="hidden" name="token" hidden value="<%= @token %>">
                <div class="col-md-3 mb-3">
                  <label for="validationTooltip05"><%= t(:enter_otp) %></label>
                  <input class="form-control" name="otp" maxlength="6" style="height: auto" ng-model="user.otp" type="text" ng-keyup="lengthCount(this, 'otp')">
                </div>
                <div class="form-row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-primary mb-2 ml-3"><%= t(:verify) %></button>
                  </div>
                  <div class="col-3">
                    <button type="button" class="btn btn-primary mb-2 ml-3" ng-click="resendOTP(<%= @phone %>, '<%= @token %>', '<%= form_authenticity_token %>')"><%= t(:resend) %></button>
                  </div>
                </div>
              </form>

            <% end %>

          </div>
        <% end %>


      </div>

    </div>
  </div>

</section>