<section ng-app="FightWithCoronaApp" ng-controller="loginController" ng-init="init('<%= user_signed_in? %>')">
  <div class="container-fluid">
    <!--    <div layout="row" layout-align="center">-->
    <!--      <b><label class="md-label" style="font-size: 20px">Fight with Corona</label></b>-->
    <!--    </div>-->
    <div layout="row" layout-align="center center">
      <%#= image_tag("india", :alt => "rss feed", size: "48x48") %>
      <h3>Corona Stats</h3>
    </div>
    <% if user_signed_in? %>
      <div layout="row" layout-align="center center">
        <h3>&nbsp;Welcome <%= current_user.name %></h3>
      </div>
    <% end %>
    <div layout="row" layout-align="center center">
      <%#= image_tag("india", :alt => "rss feed", size: "48x48") %>
      <h4>Corona Stats</h4>
    </div>
    <div layout="row" layout-align="center center">
      <div layout="column" layout-align="center">
        <div layout="row">
          <div layout="column" flex="50" layout-align="center center">
            <div class="stats total"><h5>Confirmed</h5>
              <div class="stats-bottom"><h1><%= daily_case.total || 0 %></h1><h6></h6></div>
            </div>
          </div>
          <div layout="column" flex="50" flex-offset="5" layout-align="center center">
            <div class="stats active"><h5>Active</h5>
              <div class="stats-bottom"><h1><%= daily_case.active || 0 %></h1><h6></h6></div>
            </div>
          </div>
        </div>
        <div layout="row">
          <div layout="column" flex="50" layout-align="center center">
            <div class="stats recover"><h5>Recovered</h5>
              <div class="stats-bottom"><h1><%= daily_case.recover || 0 %></h1><h6></h6></div>
            </div>
          </div>
          <div layout="column" flex="50" flex-offset="5" layout-align="center center">
            <div class="stats deceased"><h5>Deceased</h5>
              <div class="stats-bottom"><h1><%= daily_case.deceased || 0 %></h1><h6></h6></div>
            </div>
          </div>
        </div>
        <% if user_signed_in? %>
          <div layout="row" layout-align="center">
            <a flex="50" href="issues/list" target="_parent">
              <md-button class="md-raised md-primary">Ask For Help</md-button>
            </a>
            <md-button flex="50" class="md-raised md-primary">Want to Help</md-button>
          </div>
        <% else %>
          <div layout="row" layout-align="center">
            <span>Login to ask for help or start helping someone else</span>
          </div>
          <p id="error"><%= flash[:error] %></p>
          <div layout="column" layout-align="center">
            <% unless @show_otp %>

              <form class="form-inline" method="post" name="loginForm" novalidate action="send_otp" ng-submit="loginform.$valid && formValidate()">
                <%= csrf_meta_tag %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

                <label>Name</label>
                <input type="text" name="name" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Please enter your name" required>
                <!--                    <input name="name" maxlength="30" style="height: auto" ng-model="user.name" type="text" ng-keyup="lengthCount(this, 'name')">-->

                <label class="sr-only" for="inlineFormInputGroupUsername2">Phone Number</label>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Mob</div>
                  </div>
                  <input class="form-control" name="phone" maxlength="10" style="height: auto" type="text" placeholder="Phone Number" ng-keyup="lengthCount(this, 'phone')" aria-label="Phone Number" required>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Sent OTP</button>
              </form>

            <% end %>
            <% if @show_otp %>

              <form class="form-inline" method="post" novalidate action="verify_otp" ng-submit="loginform.$valid && formValidate()">
                <%= csrf_meta_tag %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <input type="hidden" name="phone" hidden value="<%= @phone %>">
                <input type="hidden" name="token" hidden value="<%= @token %>">
                <div class="col-md-3 mb-3">
                  <label for="validationTooltip05">Please enter your OTP</label>
                  <input class="form-control" name="otp" maxlength="6" style="height: auto" ng-model="user.otp" type="text" ng-keyup="lengthCount(this, 'otp')">
                </div>
                <button type="submit" class="btn btn-primary mb-2 ml-3">Verify</button>
              </form>

            <% end %>

          </div>
        <% end %>


      </div>

    </div>
  </div>

</section>