<!DOCTYPE html>
<html>

  <head>
    <title>Stay united in corona</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-app="FightWithCoronaApp">
    <main>
      <%= render 'layouts/header' %>
        <div class="d-flex justify-content-center" style="margin-top: 4.5rem !important;">
          <div class="flex-column flex-lg-40 flex-sm-column">
            <%= yield %>
          </div>

        </div>
    </main>

  </body>
</html>
